@import "../../../css-config/mixins.scss";

.carousel-container {
    max-width: 1200px;
    width: 100%;
    position: relative;
    margin: 30px auto;

    .carouselLeftNav {
      right: 65px;
    }
    .carouselRightNav {
      right: 20px;
    }
    .arrow {
      position: absolute;
      bottom: -35px;
      font-size: 40px;
      cursor: pointer;
      z-index: 10;
      &:hover{
        color: rgb(56, 51, 51);
      }
      @include mxSm {
        
        font-size: 32px;
      }
    }

    h1{
        padding: 0 10px;
    }

  .related-product-container {
    margin: 0 auto;
    overflow-x: auto;
    display: flex;
    gap: 20px;
    padding: 0 10px;
    overflow: hidden;   
  }
}
