@import "../../css-config/mixins.scss";

.alert-container{
    position: fixed;
    bottom: 10px;
    width: 280px;
    background-color: black;
    color: white;
    // border: 1px solid black;
    right: 10px;
    padding: 8px 0px 0px 0px;
    z-index: 100;
    @include mxSml{
        width: 100%;
    }

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .sign{
            color: green;
            font-size: 20px;
        }
    }

    .blank-layer{
        height: 5px;
        background-color: green;
        margin-top: 8px;
        // width: 100%;
    }
    .widthController{
        width: 0;
        animation: widthHandler 2.5s ease-out forwards;
    }
}
@keyframes widthHandler{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}